<div class='dataTables_wrapper'>
  <div class='table-responsive'>
    <table class="table nowrap table-bordered table-striped table-hover js-datatable "data-table-options=''">
      <%= body %>
    </table>
  </div>
  <%= render_admin_pagination(data) if data %>
</div>
